@import "import/root";
@import "import/normalize";
@import "import/header";
@import "import/main";
@import "import/footer";
@import "pages_scss/index";
@import "pages_scss/calendar";
@import "pages_scss/pilotos";
@import "pages_scss/contacto";
