/* header */

header{
    background-color: $color-alternative_2;
    font-size: $text-base;
}

.header__img{
    max-width: 100px;
}

.navbar .navbar-nav .nav-link{
    color: $color-secondary;
    padding: $spacing-xsmall;    
    border-radius: 5px;
}

.navbar .navbar-nav .nav-link:hover{
    background-color: $color-secondary;
    color: $color-alternative_2;
    transition: all 1s;
}
