*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-principal;
    background-image: url(./../images/background.jpg);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $color-primary;
}

img {
    width: 100%;
}