    /* Colors */
$color-primary: #fafbfc;
$color-secondary: #0084ff;
$color-alternative: #284ed8;
$color-alternative_2: #000000;
$color-contrast: #ca1720;

    /* Spacings */
$spacing-xlarge: 10rem;
$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacing-xsmall: 1rem;

    /* Font-family */
$font-principal:'Roboto', sans-serif;

    /* Font-Sizes */
$text-large: 5.2em;
$text-medium: 2.2em;
$text-base: 1.6em;
$text-small: 1.4em;
$text-xsmall: 1.1em;