/* main index */
.main__info {
    text-align: center;
    color: $color-primary;
    font-size: $text-medium;
    margin: $spacing-large 0 0 0;
    border: $spacing-small;
    border-bottom: 1px solid $color-contrast;
    transition: all 1s;
}

.main__gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__gallery img{
    max-width: 400px;
    padding: $spacing-xsmall;
}

.main__image {
    max-width: 250px;
}

@media (min-width: 768px){
.main__info {    
    margin: $spacing-large 0;
}
.main__gallery {
    flex-direction: row;
    justify-content: space-between;        
    margin-top: $spacing-large;
    padding-top: $spacing-small;
    }
}