/* main index */
.main__info {
    text-align: center;
    color: $color-primary;
    font-size: $text-medium;
    margin: $spacing-large/2;
    border: $spacing-small/2;
    border-bottom: 1px solid $color-contrast;
    transition: all 1s;
}

.main__gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__gallery img{
    max-width: 400px;
    padding: $spacing-xsmall;
}

.main__image {
    max-width: 250px;
}

